<h1>Menuの編集</h1>
<%= form_with(model: @menu, local:true) do |f| %>
<%= f.label :name, 'menu' %>
<%= f.text_field :name %>
<br>
<%= f.label :protein, 'protein' %>
<%= f.number_field :protein, step: "0.1" %>
<br>
<%= f.label :fat, 'fat' %>
<%= f.number_field :fat, step: "0.1" %>
<br>
<%= f.label :carbohydrates, 'carbohydrates' %>
<%= f.number_field :carbohydrates, step: "0.1" %>
<br>
<%= f.submit '投稿' %>

<% end %>

<%= link_to '戻る', user_path(current_user) %>