<div class="center">
    <h1><%= @menu.name %></h1>

    <div class="row">
        <aside class="col-sm-4">
            <%= image_tag @menu.img.url if @menu.img? %>
        </aside>
        <div class="col-sm-8">
            <table border="1">
                <tr>
                    <th>Protein[g]</th>
                    <th>Fat[g]</th>
                    <th>Carbohydrates[g]</th>
                    <th>calorie[Kcal]</th>
                </tr>
                <tr>
                    <td><%= @menu.protein %></td>
                    <td><%= @menu.fat %></td>
                    <td><%= @menu.carbohydrates %></td>
                    <td><%= @menu.calorie %></td>
                </tr>
            </table>
        </div>
    </div>
</div>
<%= link_to 'Menuを編集する', edit_menu_path %>
<%= link_to 'Menuを削除する', @menu, method: :delete, data: { confirm: '本当に削除しますか?' } %>


<div class="border-top">
    <p>コメント一覧</p>
    <% @comments.each do |comment| %>
        <div>
            <%= comment.user.name %><br>
            <%= comment.content %>
        </div>
    <% end %>
    <% if logged_in? %>
        <%= form_with(model: [@menu, @comment], local: true) do |f| %>
            <%= f.text_area :content, class: "form-control", row: 5 %>
            <%= f.submit 'コメント' %>
        <% end %>
    <% end %>
</div>

<%= link_to '戻る', root_path %>