<div class="container">
    <h1><%= @menu.name %></h1>
    
    <div class="row">
        <aside class="col-sm-6">
            <%= image_tag @menu.img.url if @menu.img? %>
        </aside>
        <div class="col-sm-6">
            <p>PFC</p>
            <table class="table table-responsive">
                <tbody>
                <tr>
                    <th>Protein</th>
                    <td class="text-right"><%= @menu.protein %>g</td>
                </tr>
                <tr>
                    <th>Fat</th>
                    <td class="text-right"><%= @menu.fat %>g</td>
                </tr>
                <tr>
                    <th>Carbohydrates</th>
                    <td class="text-right"><%= @menu.carbohydrates %>g</td>
                </tr>
                <tr>
                    <th>calorie</th>
                    <td class="text-right"><%= @menu.calorie %>Kcal</td>
                </tr>
                </tbody>
            </table>
            <%= link_to '編集', edit_menu_path %>
            <%= link_to '削除', @menu, method: :delete, data: { confirm: '本当に削除しますか?' } %>
        </div>
    </div>
</div>


<div class="container">
<div class="border-top">
    <p>コメント一覧</p>
    <% @comments.each do |comment| %>
        <div>
            <%= comment.user.name %><br>
            <%= comment.content %>
        </div>
    <% end %>
    <% if logged_in? %>
        <%= form_with(model: [@menu, @comment], local: true) do |f| %>
            <%= f.text_area :content, class: "form-control", row: 5 %>
            <%= f.submit 'コメント' %>
        <% end %>
    <% end %>
</div>
</div>

<%= link_to '戻る', root_path %>